.formContainer {
  padding: 0 3rem;
}

.form {
  margin: 0 auto;
}
.form button {
  background-color: #d5d5d5;
  font-size: 1.2rem;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.form svg {
  margin-right: 10px;
  font-size: 1.2rem;
}
.form button:hover {
  background-color: #dddddd;
}
.form button:active {
  background-color: #e9e9e9;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  max-width: 100;
}

.form-group label {
  padding-bottom: 10px;
}
.form-group input,
.form-group textarea {
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 1.2rem;
  font-family: 'Nunito';
}
.form-group input {
  padding: 12px;
}
.form-group textarea {
  resize: none;
  height: 150px;
  padding: 10px;
}

@media screen and (min-width: 500px) {
  .form {
    max-width: 500px;
  }
}
